*{
    outline: 1px solid red;
}
body{
    padding: 0;
    margin: 0;

}
nav li a{
    color: white;
    font-size: 18px;
    /* position: fixed; */
}
header{
    background-image: url(../img/portada.jpg);
    /* background: teal; */
    height: 670px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #ffffff;
}
#menu{
    position: absolute;
    top: 50%;
    left: 10%;
}
#titulo{
 font-weight: 700;
 font-size: 4vw;
}
.txttitulo{
    /* font-weight: 700; */
    font-size: 1.5vw;
}
#boton{
    background: #425D1D;
    border: 2px solid #425D1D;
    /* font-weight: 500; */
    font-size: 2vw;
    border-radius: 7px;
    display: flex;
}
/* ===============================================================
                        SECCION1
=============================================================== */
.koala1{
 width: 400px;
 height: 500px;
    padding-top: 30px;
}
#seccion2{
    padding: 20px;

}